<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .c{
            display: inline-flex;
            width: 220px;
            margin-left: 20px;
            background-color: rgb(117, 212, 224);
            align-content: space-between;
            height: 130px;
        }
    </style>
</head>
<body>
    <app-menu></app-menu>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
     </div>
    <div class="c list-group my-3" *ngFor="let item of listcomms | filter:term">
          <div class="d-flex w-100 justify-content-between" >
            <h5 class="mb-1">Commentaire N° : {{item.id}}</h5>
      
          </div>
          <p> {{item.evaluation}}</p>
          <p class="mb-1"></p>
          <p>{{item.jeux_id}}</p>
      
     
      </div>
</body>
</html>
